local_test.py
reddit_data.json
producer/kenzie_key_pair.pem
producer/temp.txt
local_test.py
reddit_data.json
producer/kenzie_key_pair.pem
producer/temp.txt
.idea/
venv/
# Ignore Terraform state files
*.tfstate
*.tfstate.backup
terraform/iam-role/.terraform
/terraform/app/.terraform/
