src/kenzie_key_pair.pem
src/temp.txt
reddit_data.json
src/kenzie_key_pair.pem
.idea/
src/venv
# Ignore Terraform state files
*.tfstate
*.tfstate.backup
terraform/iam-role/.terraform
/terraform/app/.terraform/
